.phaterMenu{
    margin: 0 auto;
    width: 90%;
    position: absolute;
    top: 25%;
    z-index: 100;
}

.MenuMobile{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 1.5vw;
    
}

.MenuMobile div:nth-child(1){
    width: 100%;
}


.OpenMenu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.MenuMobile .show{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7vw;
}

.MenuMobile .show p{
   margin-right: 2vw;
   font-family: 'Ubuntu', sans-serif;
   font-size: 5vw;
   color: var( --tree-text-color);
}

.MenuMobile .show img{
    width: 3vw;
}


.clickOpen{
    width: 90%;
    background-color: var(--background-color-sub-menu-mobile);
    margin-top: 2vw;
    border-radius: 1.2vw;
}

.clickOpen ul li{
    color: var(--color-text-sub-menu-mobile);
    font-size:4.2vw;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 4vw 0 4vw;
}


.loginMenuContainer{
    margin: 0 auto;
    width: 90%;
    height: 40%;
    border-top: 0.25vw solid var(--circle-border-color);
    padding-top: 6vw;
    margin-top: 4vw;
}

.loginMenu{
    margin: 0 auto;
    width: 40%;
    height: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tree-text-color);
}

.loginMenu p{
    font-size: 5vw;
    font-family: 'Ubuntu', sans-serif;
}

.cadastroMenu{
    margin: 0 auto;
    width: 50%;
    height: 14vw;
    background: linear-gradient(to right, #FE866E 20%, #FD7166 40%, #FE6263 60%, #FF565D) ;
    margin-bottom: 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10vw;
    color: var(--white);
    margin-top: 3vw;
}

.cadastroMenu p{
    font-size: 4.5vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    
}