.TextInfrastructure{
    width: 45%;
    height: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.TextInfrastructure h2{
    color: var(--white);
    font-size: 2.5vw;
    font-family: 'Overpass', sans-serif;
}

.TextInfrastructure p{
    font-size: 1.24vw;
    color: var(--white);
    width: 36vw;
    margin-top: 2vw;
}
