.twoParagraphsAndImage{
    width: 100vw;
    height: 44vw;
    display: flex;
    align-items: center;
    position: relative;
}

.halfParagraphs{
    width: 40%;
    height: 100%;
    margin-left: 7.5%;
}

.halfParagraphs h3{
    font-size: 1.8vw;
    font-family: 'Overpass', sans-serif;
    font-weight: 800;
    margin-bottom: 1.6vw;
    color: var(--tree-text-color);
}

.halfParagraphs p{
    font-size: 1.24vw;
    width: 39vw;
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    margin-bottom: 1.6vw;
    color: var(--tree-text-color);
}

.halfImage{
    width: 40%;
    height: 100%;
    position: absolute;
    top: -42%;
    right: 10%;
}

.Image img{
    margin: 0 auto;
    width: 98vw;
    margin-bottom: 10vw;
}