.h1{
    font-size: 4vw;
    font-family: 'Overpass', sans-serif;
    color: var(--color-text-h1);
    margin-bottom: 1.4vw;
    z-index: 1;
    pointer-events: none;
}

.h3{
    font-size: 1.6vw;
    font-weight: 300;
    font-family: 'Overpass', sans-serif;
    color: var(--color-text-h3);
    margin-bottom: 2vw;
    z-index: 10;
    pointer-events: none;
}