.Company{
    margin-top: 7.4vw;
    margin-left: 13.4vw;
    width: 7vw;
}

.Company h5{
    color: var(--white);
    font-size: 1.2vw;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 2vw;
    font-weight: 800;
}

.Company p{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--menu-footer-color);
    font-size: 1.2vw;
    font-family: 'Overpass', sans-serif;
    margin-bottom: 0.8vw;
    cursor: pointer;
}




/* .Company p span{
    height: 0.16vw;
    background-color: var(--menu-footer-color);
    display: block;
    margin: -0.2vw;
}


.Company p:nth-child(2):hover > span{
    margin-left: 3%;
    width: 40%;
}

.Company p:nth-child(3):hover > span{
    margin-left: 3%;
    width: 35%;
}

.Company p:nth-child(4):hover > span{
    margin-left: 3%;
    width: 30%;
}



.Company p:nth-child(5):hover > span{
    margin-left: 3%;
    width: 55%;
} */
